<html>
<head>
    <meta charset="UTF-8">
    <title>gdpu在线报名系统</title>
    <link href="/static/admin/css/app.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://enroll.sweetxxin.top/admin/login">
                    后台管理
                </a>
            </div>
            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <ul class="nav navbar-nav">
                    &nbsp;
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://enroll.sweetxxin.top/admin/login">登录</a></li>
                    <li><a href="./../page/register.php">注册</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
