<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GDPU报名后台</title>
  <link href="/static/admin/css/app.css" rel="stylesheet">
  <link rel="stylesheet" href="./static/layui/css/layui.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://cdn.bootcss.com/mdui/0.4.1/css/mdui.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts-en.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <style>
    #card {
      width: 640px;
      position: absolute;
      left: 30%;
      top: 10%;
      z-index: -1;
      opacity: 0;
      word-break:break-all;
    }
    tr{
        cursor: pointer;
    }
  </style>
</head>
<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo">GDPU报名后台</div>
      <ul class="layui-nav layui-layout-left layui-bg-blue"></ul>
      <ul class="layui-nav layui-layout-right"></ul>
      <ul class="nav navbar-nav navbar-right" style="margin-right:0px;margin-top: 5px">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="https://enroll.sweetxxin.top/admin/login">
                注销
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
          <li class="layui-nav-item"><a href="javascript:;">全部</a></li>
        </ul>
      </div>
    </div>

    <div class="layui-body">
      <div class="layui-tab">
        <ul class="layui-tab-title">
          <li class="layui-this">数据概览</li>
          <li>名单列表</li>
          <!-- <li>导出表格</li> -->
        </ul>
        <div class="layui-tab-content">
          <div class="layui-tab-item layui-show" id="main" style="width: 1024px;height:682px;"></div>
          <div class="layui-tab-item" id="list">
            <div id="app">
              <div id="searchBar">
                <a class="btn btn-default" href="javascript:;" role="button" id="export">导出表格</a>
                <div class="input-group">
                  <span class="glyphicon glyphicon-search input-group-addon" aria-hidden="true"></span>
                  <input type="text" v-model="searchQuery" class="form-control" placeholder="搜索">
                </div>
              </div>
              <simple-grid :data="gridData" :columns="gridColumns" :filter-key="searchQuery"></simple-grid>
            </div>
            <template id="grid-template">
              <table class="table table-striped table-hover table-bordered">
                <thead>
                  <tr>
                    <th v-for="col in columns">
                      {{ col | capitalize }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="entry in data | filterBy filterKey" @click="show(entry['id'])">
                    <td v-for="col in columns">
                        {{ entry[col] }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </template>

            <div class="mdui-card mdui-container" id="card">
              <div class="mdui-row">
                <div class="mdui-card-media mdui-col-xs-6">
                  <img :src="avatar"/>
                </div>

                <div class="mdui-col-xs-6">
                  <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">姓名：{{ name }}</div>
                    <div class="mdui-card-primary-title">性别：{{ gender }}</div>
                    <div class="mdui-card-primary-title">手机：{{ phone }}</div>
                    <div class="mdui-card-primary-title">学号：{{ sid }}</div>
                    <div class="mdui-card-primary-title">班级：{{ class }}</div>
                  </div>
                  <div class="mdui-card-content">个人简介：{{ description }}</div>
                  <div class="mdui-card-actions" style="top: 60px;">
                    <button style="background: rgb(10,134,123)" class="mdui-btn mdui-ripple mdui-float-right" @click="hide">关闭</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
                  
    <div class="layui-footer">
      © 2018 共青团广东药科大学学生委员会网络中心
    </div>
  </div>

  
  <script src="./static/layui/layui.js"></script>
  <script src="https://cdn.bootcss.com/mdui/0.4.1/js/mdui.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/1.0.25/vue.min.js"></script>
  <script src="static/JsonExportExcel.min.js"></script>
  <script>
    $(function() {
      layui.use('element', function(){
        let element = layui.element
      });

      let token = window.location.href.split('=')[1]
      // console.log(token)

      let data
      let list
      let map = {
        '000': '办公室',
        '001': '组织部',
        '002': '宣传部-宣传组',
        '003': '宣传部-运营组',
        '004': '实践部',
        '005': '科技部',
        '006': '网络中心-设计组',
        '007': '网络中心-技术组',

        "061": "药学18(1)", // 药学院
        "062": "药学18(2)",
        "063": "药学18(3)",
        "064": "药学18(4)",
        "065": "药学(3+1本科双学位国际班)18",
        "066": "临床药学18(1)",
        "067": "临床药学18(2)",
        "068": "药物分析18",
        "069": "药物化学18",
        "070": "药物制剂18(1)",
        "071": "药物制剂18(2)",
        "072": "制药工程18(1)",
        "073": "制药工程18(2)",

        "074": "中药学18(1)",  // 中药学院
        "075": "中药学18(2)",
        "076": "中药制药18(1)",
        "077": "中药制药18(2)",

        "078": "海洋药学18",  // 生命科学与生物制药学院
        "079": "生物工程18",
        "080": "生物技术18",
        "081": "生物制药18(1)",
        "082": "生物制药18(2)",
        "083": "生物制药18(3)",

        "084": "药学(整合药学)18",  // 整合药学院(前)的划掉）药学院

        "085": "预防医学18(1)",  // 公共卫生学院
        "086": "预防医学18(2)",
        "087": "预防医学18(3)",
        "088": "预防医学18(4)",
        "089": "预防医学18(5)",
        "090": "预防医学18(6)",
        "091": "卫生检验与检疫18(1)",
        "092": "卫生检验与检疫18(1)",

        "093": "临床医学18(1)",  // 临床医学院
        "094": "临床医学18(2)",
        "095": "临床医学18(3)",
        "096": "临床医学18(4)",
        "097": "医学检验技术18",

        "098": "护理学18(1)",  // 护理学院
        "099": "护理学18(2)",

        "100": "计算机科学与技术(外包特色班)18(1)",  // 医药信息工程学院
        "101": "计算机科学与技术(外包特色班)18(2)",
        "102": "计算机科学与技术(外包特色班)18(3)",

        "103": "英语18(1)",  // 外国语学院
        "104": "英语18(2)"
      }
      $.ajax({
        // url: 'https://wxer.milkysilk.com/data',
        url: '/data',
        type: 'POST',
        data: {
          'token': token
        },
        success: function(res) {
          let jres = JSON.parse(res)
          if(jres.code == '0') {
            let arrKey = []
            let arrVal = []
            let i = 0
            for(key in jres) {
              if(!(key == 'total' || key == 'code')) {
                arrKey[i] = key
                arrVal[i++] = jres[key]
              }
            }
            let max = Math.max(...arrVal)
            let arr = []
            for(let i = 0; i < arrKey.length; i++) {
              let obj = {}
              obj['name'] = map[arrKey[i]]
              obj['max'] = max
              arr.push(obj)
            }
            let legend = '社团报名总人数：' + String(jres.total)
            let myChart = echarts.init(document.getElementById('main'));
            option = {
              title: {
                text: '雷达图（圆心可查看各部门人数）'
              },
              tooltip: {},
              legend: {
                data: ['社团报名总人数：' + jres.total]
              },
              radar: {
                shape: 'circle',
                name: {
                  textStyle: {
                    color: '#fff',
                    backgroundColor: '#999',
                    borderRadius: 3,
                    padding: [3, 5]
                  }
                },
                indicator: arr
              },
              series: [{
                name: '社团总览',
                type: 'radar',
                // areaStyle: {normal: {}},
                data : [
                  {
                    value : arrVal,
                    name : '社团报名总人数：' + jres.total
                  }
                ]
              }]
            };
            myChart.setOption(option);
          } else if(jres.code == '1') {
            let arrKey = []
            let arrVal = []
            let i = 0
            for(key in jres) {
              if(!(key == 'total' || key == 'code')) {
                arrKey[i] = key
                arrVal[i++] = jres[key]
              }
            }

            let myChart = echarts.init(document.getElementById('main'));
            option = {
              color: ['#3398DB'],
              tooltip : {
                trigger: 'axis',
                axisPointer : {
                  type : 'shadow'
                }
              },
              grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
              },
              xAxis : [
                {
                  type : 'category',
                  data : arrKey,
                  axisTick: {
                    alignWithLabel: true
                  }
                }
              ],
              yAxis : [
                {
                  type : 'value'
                }
              ],
              series : [
                {
                  name: '今天报名数量',
                  type: 'bar',
                  barWidth: '60%',
                  data: arrVal
                }
              ]
            };
            myChart.setOption(option);
          }
        }
      })
      
      $.ajax({
        // url: 'https://wxer.milkysilk.com/list',
        url: '/list',
        type: 'POST',
        data: {
          'token': token
        },
        success: function(res) {
          let jres = JSON.parse(res)
          if(jres.code == '0') {
            let list = jres.list
            list.sort(function(x, y) {
              return (x['class'] < y['class']) ? -1 : 1
            })
            $('#export').click(function() {
              let option = {}
              option.fileName = 'excel'
              option.datas = [
                {
                  sheetData: list,
                  sheetName: '报名表',
                  sheetFilter: ['name', 'gender', 'phone', 'sid', 'class', 'description'],
                  sheetHeader: ['姓名', '性别', '手机', '学号', '班级', '个人简介']
                },
                {
                  sheetData: list,
                  sheetName: '签到表',
                  sheetFilter: ['name', 'class'],
                  sheetHeader: ['姓名', '班级', '签到']
                },
                {
                  sheetData: list,
                  sheetName: '面试表',
                  sheetFilter: ['name', 'class'],
                  sheetHeader: ['姓名', '班级', '备注']
                }

              ]
              let toExcel = new ExportJsonExcel(option)
              toExcel.saveExcel()
            })
            for(let i = 0; i < list.length; i++) {
              if(list[i].gender == '0') {
                list[i].gender = '女'
              }
              if(list[i].gender == '1') {
                list[i].gender = '男'
              }
              // list[i].class = 
              list[i].class = map[list[i].class.slice(3)]
            }
            Vue.component('simple-grid', {
              template: '#grid-template',
              props: {
                data: Array,
                columns: Array,
                filterKey: String
              },
              methods: {
                show: function(id) {
                  for(e in list) {
                    if(list[e].id == id) {
                      card.avatar = list[e].prefix + list[e].avatar
                      card.name = list[e].name
                      card.gender = list[e].gender
                      card.sid = list[e].sid
                      card.phone = list[e].phone
                      card.class = list[e].class
                      card.description = list[e].description
                      $('#card').css({"z-index": "100", "opacity": "1"})
                    }
                  }
                }
              }
            })
            let emo = new Vue({
              el: '#app',
              data: {
                searchQuery: '',
                gridColumns: ['name', 'gender', 'phone', 'class', 'description'],
                gridData: list
              }
            })
            let card = new Vue({
              el: '#card',
              data: {
                avatar: '',
                name: '',
                gender: '',
                phone: '',
                sid: '',
                class: '',
                description: ''
              },
              methods: {
                hide: function() {
                  $('#card').css({"z-index": "-1", "opacity": "0"})
                }
              }
            })
          } else {
            $('#list').append('<h1>报名名单请用部门账号查看</h1>')
          }
        }
      })
    })
  </script>
</body>
</html>