<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gdpu在线报名系统</title>
    <link href="/static/admin/css/app.css" rel="stylesheet">
</head>
<body>
<div class="app"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">登录</div>
                <div class="panel-body">
                    <form class="form-horizontal" id="formData">
                        <div class="form-group">
                            <label for="u" class="col-md-4 control-label">用户名</label>

                            <div class="col-md-6">
                                <input id="u" type="text" class="form-control">

                                <span class="help-block">
                                    <strong></strong>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="p" class="col-md-4 control-label">密码</label>

                            <div class="col-md-6">
                                <input id="p" type="password" class="form-control" name="password" >
                                <span class="help-block">
                                    <strong></strong>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember" id="remember">
                                        下次自动登录
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="button" class="btn btn-primary" id="btn">
                                    登录
                                </button>

                                <a class="btn btn-link" href="/forget">
                                    忘记密码?
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/admin/js/tool.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script>

        window.onload = function () {
         $(".app").load("/common")
            let u = document.getElementById('u')
            let p = document.getElementById('p')
            let b = document.getElementById('btn')
            if(getCookie('userName')&&getCookie('passwd')){
                u.value=getCookie('userName');
                p.value=getCookie('passwd');
                if(getCookie('auto')){
                    remember.checked="checked";
                    setTimeout(function(){
                        if(confirm("正在自动登录")){
                            func();
                        }else{
                            remember.checked="";
                        }
                    },1000);
                }
            }
            function func(e) {
                if(!document.getElementById("remember").checked) {
                        delCookie("userName");
                        delCookie("passwd");
                        delCookie("auto");
                }
                if (u.value.length == 0 || p.value.length == 0) {
                    return false
                }
                $.ajax({
                    url: '/admin-login',
                    type: 'POST',
                    data: {
                        username: u.value,
                        password: p.value
                    },
                    success: function (res) {
                        let jstr = JSON.parse(res)
                        if (jstr.code == 0) {
                            console.log(jstr.code)
                            // window.location.href = 'https://wxer.milkysilk.com/admin?token=' + jstr.token
                            window.location.href = '/admin?token=' + jstr.token
                        }else {
                            alert("用户不存在or密码错误");
                        }
                    }
                })
            }

            b.addEventListener('click', func)
            document.onkeyup = function (e) {
                let keyNumber = e.keyCode
                if (keyNumber == 13) {
                    func()
                }
            }
        }
        document.getElementById("remember").onclick=function () {
            if(document.getElementById("remember").checked){
                setCookie("userName",u.value);
                setCookie("passwd",p.value);
                setCookie("auto",true);
            }
        }
    </script>
</body>
</html>