<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gdpu在线报名系统</title>
</head>
<body>
<div class="app"></div>
<!-- 重置密码页面 -->
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">重置密码</div>

                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="userName" class="col-md-4 control-label">用户名</label>
                            <div class="col-md-6">
                                <input id="userName" type="text" class="form-control" name="userN" >
                                    <span class="help-block">
                                        <strong></strong>
                                    </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">密码</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password" required>
                                    <span class="help-block">
                                        <strong></strong>
                                    </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password-confirm" class="col-md-4 control-label">确认密码</label>
                            <div class="col-md-6">
                                <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required>
                                    <span class="help-block">
                                        <strong></strong>
                                    </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="button" class="btn btn-primary" id="reset">
                                    重置密码
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    var userName = document.getElementById('userName');
    var password = document.getElementById('password');
    var confirmPass = document.getElementById('password-confirm');
    window.onload=function () {
        $(".app").load("/common")
    }
    confirmPass.onblur=function(argument) {
        if(password.value!=confirmPass.value){
            alert("两次密码不一致");
        }
    }
    document.getElementById('reset').onclick=function(){
        $.ajax({
            url: '/reset',
            type: 'POST',
            data: {
               userName: userName.value,
                password: password.value
            },
            success: function (res) {
                var choose = confirm("密码重置成功，立即登录?");
                if(choose){
                    window.location="/admin/login";
                }
            }
    })
    }
</script>
</body>
</html>